<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Liste des produits
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/addProduct/{{id}}" routerDirection="forward">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let produit of produits">
      <ion-card>
        <ion-item color="warning">
          {{produit.nom}}
          <ion-button slot="end" expand="block" fill="outline" color="primary" routerLink="/viewProduct/{{produit._id}}">Edit</ion-button>
          <ion-button slot="end" expand="block" fill="outline" color="danger" (click)="delete([produit._id])" >Delete</ion-button>
        </ion-item>
    <ion-item>
      <ion-item>
        image
      </ion-item>
      <ion-list>
        <ion-item>
          {{produit.description}}
        </ion-item>
        <ion-item>
          Prix : {{produit.prix}}
        </ion-item>
      </ion-list>
    </ion-item>

    </ion-card>

  </ion-list>
</ion-content>