<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Liste des produits
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/addProduct/{{id}}" routerDirection="forward">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>    
  <ion-list *ngFor="let produit of produits">
    <ion-item-sliding #item>
      
        <ion-item ion-button routerLink="/viewProduct/{{produit._id}}">
          {{produit.nom}}
        </ion-item>
      
      

      <ion-item-options side="end">
        <button ion-button color="light" routerLink="/viewProduct/{{produit._id}}">Edit</button>
        <button ion-button (click)="delete([produit._id])" color="danger">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>