<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Liste des Categories
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/addCategory" routerDirection="forward">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let category of categories">
    <ion-card>
      <ion-item color="warning">
        <ion-title class="hovering" expand="block" fill="clear" color="light" routerLink="/listProduct/{{category._id}}">{{category.nom}}</ion-title>
        <ion-button slot="end" expand="block" fill="outline" color="primary" routerLink="/viewCategory/{{category._id}}">Edit</ion-button>
        <ion-button slot="end" expand="block" fill="outline" color="danger" (click)="alertDeleteCategory([category._id])" >Delete</ion-button>
      </ion-item>
      <ion-item>
            {{category.description}}
        </ion-item>
    </ion-card>
  </ion-list>
</ion-content>