<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Liste des Boutiques
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/addBoutique" routerDirection="forward">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    

  <ion-list *ngFor="let boutique of boutiques">
    <ion-item-sliding #item>
      
        <ion-item ion-button routerLink="/listCategory/{{boutique._id}}">
          {{boutique.title}}
        </ion-item>
      
      

      <ion-item-options side="end">
        <button ion-button color="light" routerLink="/viewBoutique/{{boutique._id}}">Edit</button>
        <button ion-button (click)="delete([boutique._id])" color="danger">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>