<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="alertNoSave()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="produit" ngDefaultControl [(ngModel)]="nom">{{produit.nom}}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()"> <ion-icon slot="icon-only" name="save"></ion-icon></ion-button>
      <ion-button (click)="alertDeleteProduct()"> <ion-icon slot="icon-only" name="trash"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item color="warning">
    <ion-label>Produit</ion-label>
  </ion-item>
  <ion-item>
    <ion-input value="{{produit.nom}}" rows="1" *ngIf="produit" ngDefaultControl [(ngModel)]="nom"></ion-input>
  </ion-item>
  <ion-item color="warning">
    <ion-label>Description</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea value="{{produit.description}}" rows="10" *ngIf="produit" ngDefaultControl [(ngModel)]="description"></ion-textarea>
  </ion-item>
  <ion-item color="warning">
    <ion-label>Prix</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea value="{{produit.prix}}" rows="1" *ngIf="produit" ngDefaultControl [(ngModel)]="prix"></ion-textarea>
  </ion-item>
  <ion-item color="warning">
    <ion-label>Image</ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea *ngIf="produit" value="{{produit.image}}" rows="7" ngDefaultControl [(ngModel)]="image"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-img *ngIf="produit" style="width: 160px; height: 160px;" src={{produit.image}}></ion-img>
  </ion-item>

</ion-content>
